<%- include('partials/header') -%>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1> Welcome Host! </h1>
            <h3> Currently checked in visitors </h3>
            <p>
                <a class="btn btn-success btn-lg" href="/visitors/new"> Add new Visitors </a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% visitors.forEach(function(visitor) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <h2> <%= visitor.name %> </h2>
                    <h4> <%= visitor.email %> </h4>
                    <h4> <%= visitor.phone %> </h4>
                    <h4><strong>Checkin Time :</strong><%=visitor.checkIn%></h4>
                    <form action="/visitors/<%=visitor._id%>" method="post" style="text-align: center;">
                        <a href="/visitors/<%=visitor._id%>" class="btn btn-info btn-lg"> Checkout </a>
                    </form>
                    <hr>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include('partials/footer') -%>